body{
    background-color: aquamarine;
}
#icon{
    width: 100px;
}
h1{
    font-family: fantasy;
    
}
#div1{
    float: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#button1{
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#username{
    font-style: normal;
    font-size: larger;
    font-weight: bold;
}
#roomname{
    width: 60%;
}
#button2{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}